{% extends 'doctor_templates/base_template.html'%} {% block page_title %}
<h5>All patients</h5>
{% endblock page_title %} {% block link %}
<li class="breadcrumb-item active" style="color: white;">all patients </li>
{% endblock link %} {% block main_content %}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary sc">
                <div class="card card-primary sc">
                    <div class="card-header">
                        <span>Patient Records</span>
                    </div>
                    
                    <table class="table table-bordered table-hover dataTable" id="plist">
                        <thead>
                            <tr>
                                <th>Sl.No.</th>
                                <th>Image</th>
                                <th>Name</th>
                                <!-- <th>LastName</th> -->
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr class="hov">
                                <td>{{forloop.counter}}</td>
                                <td> <img src="{{patient.profile_pic.url}}" class="" width="35" height="35" alt=""></td>
                                <td>{{patient.admin.first_name}} {{patient.admin.last_name}}</td>
                                <!-- <td>{{patient.last_name}}</td> -->
                                <td>{{patient.gender}}</td>
                                <td>{{patient.admin.email}}</td>
                                <td>{{patient.phone_number}}</td>
                                <td><a href="{% url 'doctor_prescribe2' patient.id %}" class="btn btn-sm btn-warning">Prescribe</a>
                                    <a href="{% url 'patient_record_doctor' patient.id %}" class="btn btn-sm btn-success">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

{% endblock %}