 {% extends 'pharmacist_templates/base_template.html'%} {% block page_title %}
<h5>Patient Details</h5>
{% endblock page_title %} {% block link %}
<li class="breadcrumb-item active">all patients </li>
{% endblock link %} {% block main_content %}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary sc">
                <div class="card sc table-title">
                    <div class="card-header" style="background-color: #007BFF;">
                        <span style="color: white;">Manage Patients</span>
                    </div>

                    {% include 'pharmacist_templates/alert_messeges.html' %}

                    <table class="table table-bordered table-hover dataTable" id="plist">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Profile</th>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr class="hov">
                                <td>{{forloop.counter}}</td>
                                <td> <img src="{{patient.profile_pic.url}}" class="" width="35" height="35" alt=""></td>
                                <td>{{patient.admin.username}}</td>
                                <td>{{patient.admin.first_name}}</td>
                                <td>{{patient.admin.last_name}}</td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.admin.email}}</td>
                                <td>{{patient.phone_number}}</td>
                                <td class="d-flex justify-content-center"><a href="{% url 'pharmacist_disp' patient.id %}" class="btn btn-sm btn-info">Dispense</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

{% endblock %}