{% extends 'patient_templates/base_template.html'%} {% block page_title %}
<h5>My Dispense</h5>

{% endblock page_title %} {% block main_content %}
<style>
    .sc2 {
        word-wrap: wrap;
        display: block;
        overflow-x: auto;
    }
    
    .lopy {
        word-wrap: none !important;
    }
</style>
<section class="content">
    {% include 'patient_templates/alert_messeges.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary sc">
                <div class="card-header">
                    <span>Dispense Records</span>
                </div>
                <table class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Drug</th>
                            <th>Quantiy Dispensed</th>
                            <th>Instructions</th>
                            <th>Dispensed</th>
                            <th>Medicine Expiry date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in dispense %}
                        <tr class="hov">
                            <td>{{forloop.counter}}</td>
                            <td>{{stock.drug_id}}</td>
                            <td>{{stock.dispense_quantity}}</td>
                            <td class="lopy">{{stock.instructions}}</td>
                            <td>{{stock.dispense_at|date:"F d, Y"}}</td>
                            <td>{{stock.drug_id.valid_to |date:"F d, Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}