<footer class="main-footer pt-3 text-center" style="color: white;background-color: #000;">
    <span style="margin-right: 30px;">Queries 📧 : 
        <a href="mailto:rajmohan27032002@gmail.com?subject=Inquiry&body=Hello, I have a question about...">rajmohan27032002@gmail.com</a>
    </span>
    &nbsp;
    <strong>COPYRIGHT &copy; {% now "Y" %}, By <a href="#">Health-Hub</a></strong>
        <img src="/static/images/logo.png"
        width="50px"
        height="35px" 
        alt=""
        style="border-radius: 15%; object-fit: cover;">
        &nbsp;
    <span style="margin-left: 30px;">Contact 📞 : 
        <a href="tel:+91 8123742527">8123742527</a>
    </span>
</footer>

